body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(246, 227, 227);
    background-repeat: no-repeat;
    object-fit: fill;
    color: black;
    text-align: center;

}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
th,tr,td{
    padding: 12px 40px;
}
th{
    background-color: rgb(239, 166, 158);
    border-collapse: collapse;
}
tr,td{
    margin: 0%;
    background-color: rgb(247, 219, 216);
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}

button{
    all: unset;
    border: 2px solid rgb(243, 142, 190);
    background-color: rgb(240, 175, 206);
    padding: 10px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}
#save{
    all: unset;
    border: 2px solid rgb(240, 175, 206);
    background-color: rgb(240, 175, 206);
    padding: 10px;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}
.main{
    color: rgb(244, 26, 175);
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
td:hover{
    background-color: rgb(239, 200, 230);
}
.as{
    text-align: left 20px;

}



